@model CrudMVC2.Models.Employee

<h1>Delete Employee</h1>


<form asp-action="Delete" asp-route-id="@Model.Id" method="post">
    <div class="form-group">
        <label asp-for="Id" class="control-label"></label>
        <input asp-for="Id" class="control-label" readonly />
    </div>

    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="control-label" readonly />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Email" class="control-label"></label>
        <input asp-for="Email" class="control-label" readonly />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Phone" class="control-label"></label>
        <input asp-for="Phone" class="control-label" readonly />
        <span asp-validation-for="Phone" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <input type="submit" class="btn btn-danger" value="Delete" />
    </div>

    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>
